<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

		<link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

		<script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

		<script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">
			.text-danger {
				color: #F56C6C !important;
			}
		</style>

		<script type="text/javascript">
			//公用函数定义
			function sleep(fun, ms) {
				setTimeout(fun, ms);
			}

			function loop(fun, ms) {
				fun();
				setInterval(fun, ms);
			}

			addEventListener(
				"load",
				function() {
					setTimeout(hideURLbar, 0);
				},
				false
			);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	</head>

	<body class="body">

		<div id="personnel">
			<el-row v-if="personnelFlag">
				<el-col :sm="4" class="text-center">
					<img style="max-width: 120px;max-height: 50px;text-align: center;" src="Storage/global/Logo.png" alt="logo" class="img-fluid">
				</el-col>
				<el-col :sm="16" :xs="24">
					<el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
						<el-menu-item index="1">平台概览</el-menu-item>
					</el-menu>
				</el-col>
				<el-col :md="4" :xs="24">
					<el-row>
						<el-col :span="12" v-if="role != '超级管理员'">
							<div style="padding-top: 10px; text-align: center;" class="mx-auto">
								<div>{{dareaName}}</div>
								<div @click="()=>{areaDialog = true}" class="mx-auto w-100" style="font-size: 0.95rem;line-height: calc(0.95rem * 2);">
									切换区域
								</div>
							</div>
						</el-col>

						<el-col :span="role != '超级管理员'?12:24">
							<div style="padding-top: 10px; text-align: center;" class="mx-auto">
								<el-dropdown class="text-center">
									<span class="el-dropdown-link">
										{{role}}<br><span style="display: inline-block; width: 100%;">{{userName}}</span><i class="el-icon-arrow-down el-icon--right"></i>
									</span>
									<el-dropdown-menu slot="dropdown">
										<el-dropdown-item><span @click="linkTo('./')">返回首页</span></el-dropdown-item>
										<el-dropdown-item divided>
											<div @click="(x)=>{logout()}">退出登录</div>
										</el-dropdown-item>
									</el-dropdown-menu>
								</el-dropdown>
							</div>
						</el-col>
					</el-row>
				</el-col>
			</el-row>


			<el-dialog title="请选择管理区域" v-if="role != '超级管理员'" :visible.sync="areaDialog" :show-close="false"
			 :close-on-press-escape="false" :close-on-click-modal="false">
				<el-row>
					<el-row>
						<el-col class="text-center border" :sm="12" :xs="24">
							<el-select v-model="area" remote :remote-method="(v)=>{loadArea(v)}" @change="(v)=>{loadArea(v);darea = '';}" filterable
							 placeholder="请选择区域">
								<div v-for="(v,k) in areaList">
									<el-option v-for="(val,key) in v" :key="k" :label="val" :value="k">
									</el-option>
								</div>
							</el-select>
						</el-col>
						<el-col class="text-center border" :sm="12" :xs="24">
							<el-select v-model="darea" remote :remote-method="(v)=>{loadDarea(v)}" @change="(v)=>{loadDarea(v)}" filterable
							 placeholder="请选择场所" :disabled="area.length == 0">
								<div v-if="(Object.keys(areaList).length != 0 && area.length != 0)">
									<el-option v-for="(v,k) in dareaList[area].darea" :key="k" :label="v.dareaName" :value="k">
									</el-option>
								</div>
							</el-select>
						</el-col>
					</el-row>
				</el-row>

				<span slot="footer" class="dialog-footer">
					<el-button :disabled="firstLoadDialog" @click="()=>{areaDialog = false}">取 消</el-button>
					<el-button type="primary" :disabled="area.length == 0 || darea.length == 0" @click="()=>{firstLoadDialog=false;areaDialog = false}">确
						定</el-button>
				</span>
			</el-dialog>

			<el-row>
				<el-col class="text-center border" :xs="24" :sm="24" :md="24">
					<h5>管理区域详细信息</h5>
					<el-row>
						<el-col :xs="12" :sm="12" :md="12">人员信息总数量</el-col>
						<el-col :xs="12" :sm="12" :md="12">--</el-col>
					</el-row>
				</el-col>
				<el-col class="text-center border" :xs="24" :sm="24" :md="24">
					<el-table :data="roleList" style="width: 100%">
						<el-table-column label="区域" width="180">
							<template slot-scope="scope">
								{{scope.row.areaName}}
							</template>
						</el-table-column>
						<el-table-column label="场所" width="180">
							<template slot-scope="scope">
								{{scope.row.dareaName}}
							</template>
						</el-table-column>
						<el-table-column label="添加车辆">
							<template slot-scope="scope">
								{{scope.row.addCar}}
							</template>
						</el-table-column>
						<el-table-column label="添加设备">
							<template slot-scope="scope">
								{{scope.row.addEquipment}}
							</template>
						</el-table-column>
						<el-table-column label="添加人员">
							<template slot-scope="scope">
								{{scope.row.addPersonnel}}
							</template>
						</el-table-column>
						<el-table-column label="删除车辆">
							<template slot-scope="scope">
								{{scope.row.delCar}}
							</template>
						</el-table-column>
						<el-table-column label="删除设备">
							<template slot-scope="scope">
								{{scope.row.delEquipment}}
							</template>
						</el-table-column>
						<el-table-column label="删除人员">
							<template slot-scope="scope">
								{{scope.row.delPersonnel}}
							</template>
						</el-table-column>
						<el-table-column label="查看车辆">
							<template slot-scope="scope">
								{{scope.row.selectCar}}
							</template>
						</el-table-column>
						<el-table-column label="查看设备">
							<template slot-scope="scope">
								{{scope.row.selectEquipment}}
							</template>
						</el-table-column>
						<el-table-column label="查看人员">
							<template slot-scope="scope">
								{{scope.row.selectPersonnel}}
							</template>
						</el-table-column>
						<el-table-column label="更新车辆">
							<template slot-scope="scope">
								{{scope.row.updateCar}}
							</template>
						</el-table-column>
						<el-table-column label="更新设备">
							<template slot-scope="scope">
								{{scope.row.updateEquipment}}
							</template>
						</el-table-column>
						<el-table-column label="更新人员">
							<template slot-scope="scope">
								{{scope.row.updatePersonnel}}
							</template>
						</el-table-column>
					</el-table>
			</el-row>
		</div>
		<script>
			var personnel = new Vue({
				el: '#personnel',
				watch: {},
				computed: {},
				mounted() {},
				data() {
					return {

						firstLoadDialog: true,
						areaDialog: false,

						personnelFlag: false,
						activeIndex: '1',
						userName: '',
						role: "",
						permission: "",

						Tab: "平台概览",

						data: [],
						userInfo: "",

						dialogWidth: 0,

						roleListPage: 1,
						roleListNum: 1000,

						roleList: [],

						areaList: {},
						area: '',
						areaName: '',
						dareaList: {},
						darea: "",
						dareaName: '',
					}
				},
				created() {
					this.setDialogWidth()
					this.GetRequest()
				},
				methods: {
					GetRequest() {
						var url = location.search; //获取url中"?"符后的字串
						var theRequest = new Object();
						if (url.indexOf("?") != -1) {
							var str = url.substr(1);
							strs = str.split("&");
							for (var i = 0; i < strs.length; i++) {
								theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
							}
						}
						this.Request = theRequest
					},
					getPersonnelCount(page, num) {
						time = []
						t = personnel.getTime(new Date()).replace(/-/g, ' ').replace(/:/g, ' ').split(' ')
						time[0] = t[0] + '-' + t[1] + '-' + t[2]
						t = personnel.getTime(Date.parse(time[0]) + 1000 * 60 * 60 * 24).replace(/-/g, ' ').replace(/:/g, ' ').split(
							' ')
						time[1] = t[0] + '-' + t[1] + '-' + t[2]

						if (personnel.role == '超级管理员') {
							data = Qs.stringify({
								"getPersonnelList": '',
								"page": "1",
								"num": "0",
								"filter": JSON.stringify({
									"betweenTime": JSON.stringify(time),
								})
							})
						} else {
							data = Qs.stringify({
								"getPersonnelList": '',
								"page": "1",
								"num": "0",
								'area': personnel.area,
								'darea': personnel.darea,
								"filter": JSON.stringify({
									"betweenTime": JSON.stringify(time),
								})
							})
						}
						axios.post('./System/Core/Management.php', data

							, ).then(function(res) {
							console.log(res)
						})
					},
					loadArea(v) {
						if (personnel.permission != '8') {
							return personnel.areaList
						}

						if (v.length != 0) {
							personnel.areaList = {}

							axios.post('./System/Core/Management.php', Qs.stringify({
								"getPlanList": '',
								"page": "1",
								"num": "9999999999999",
								"filter": JSON.stringify({
									"areaName": v,
								})
							}), ).then(function(res) {
								data = res.data.slice(1)
								for (t in data) {

									if (!(data[t]['area'] in personnel.areaList)) {
										personnel.areaList[data[t]['area']] = {
											'areaName': data[t]['areaName']
										}
									}

									// console.log(personnel.areaList,personnel.roleList[t]['areaCode'],personnel.roleList[t]['areaName'])

									if (!(data[t]['area'] in personnel.dareaList)) {
										personnel.dareaList[data[t]['area']] = {
											'areaName': data[t]['areaName'],
											'darea': {}
										}
									}

									if (!(data[t]['darea'] in personnel.dareaList[data[t]['area']]['darea'])) {
										personnel.dareaList[data[t]['area']]['darea'][data[t]['darea']] = {
											'dareaName': data[t]['dareaName'],
										}
									}
								}
								personnel.$set(personnel.areaList, personnel.areaList)
								personnel.$set(personnel.dareaList, personnel.dareaList)
							})
						}

					},
					loadDarea(v) {
						personnel.areaName = personnel.dareaList[personnel.area].areaName
						personnel.dareaName = personnel.dareaList[personnel.area].darea[personnel.darea].dareaName
						if (personnel.permission != '8') {
							return personnel.dareaList
						}
					},
					setDialogWidth() {
						// console.log(document.body.clientWidth)
						var val = document.body.clientWidth
						const def = 800 // 默认宽度
						if (val < def) {
							this.dialogWidth = '100%'
						} else {
							this.dialogWidth = def + 'px'
						}
					},
					linkTo(target) {
						window.location = target
					},
					getSomeTime(n) {
						return personnel.getTime(Date.parse(personnel.getTime(Math.ceil((new Date().getTime() / 100000) * 100000)).split(
								':')[0] +
							':' +
							(parseInt(personnel.getTime(Math.ceil(new Date().getTime() / 100000) * 100000).split(':')[1]) - parseInt(
								personnel.getTime(Math.ceil(new Date().getTime() / 100000) * 100000).split(':')[1]) % 5)) + 60 * 1000 * (5 *
							n))
					},
					getTime(unixTime) {
						unixTime = new Date(unixTime)
						Y = unixTime.getFullYear()
						M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
						D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
						H = unixTime.getHours() < 10 ? '0' + unixTime.getHours() : unixTime.getHours()
						i = unixTime.getMinutes() < 10 ? '0' + unixTime.getMinutes() : unixTime.getMinutes()
						S = unixTime.getSeconds() < 10 ? '0' + unixTime.getSeconds() : unixTime.getSeconds()
						return Y + '-' + M + '-' + D + ' ' + H + ':' + i + ':' + S
					},
					handleSelect(key, keyPath) {
						console.log(key, keyPath);
					},
					logout() {
						axios.post('./System/Core/User.php', Qs.stringify({
							"logout": '',
						}), ).then(function(res) {
							for (x in res.data) {
								if ('success' === x) {
									console.log(res.data['success'])
									personnel.$alert(res.data['success'], '操作成功', {
										confirmButtonText: '确定',
										type: 'success',
										center: true,
										callback: action => {
											window.location = 'login.html'
										}
									})
								}
							}
						})
					},
				},
				mounted() {
					window.onresize = () => {
						return (() => {
							this.setDialogWidth()
						})()
					}
					axios.post('./System/Core/User.php', Qs.stringify({
						"getUserInfo": '',
					}), ).then(function(res) {
						for (x in res.data) {
							if ('error' === x) {
								personnel.$alert(res.data[x], '错误', {
									confirmButtonText: '确定',
									type: 'error',
									center: true,
									callback: action => {
										window.location = 'login.html'
									}
								})
							} else {
								personnel.userName = res.data[x]['userName']
								personnel.userInfo = res.data[x]
								personnel.permission = res.data[x]['permission']

								if (personnel.permission == '8') {
									personnel.role = '超级管理员'
									personnel.areaDialog = false
								} else if (personnel.permission == '1') {
									personnel.role = '管理员'
								} else {
									personnel.linkTo('./')
								}

								personnel.personnelFlag = true

								if (personnel.permission != '8') {
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getRoleList": '',
									}), ).then(function(res) {
										if (res.data[0] == 0) {
											personnel.$alert('您没有访问面板的权限，如需访问请联系超级管理员添加相应权限', '错误', {
												confirmButtonText: '返回首页',
												type: 'error',
												center: true,
												callback: action => {
													personnel.linkTo('./')
												}
											})
										}
										// console.log(res.data)
										personnel.roleList = res.data.slice(1)
										for (t in personnel.roleList) {
											// console.log(personnel.roleList[t]['areaCode'])

											if (!(personnel.roleList[t]['areaCode'] in personnel.areaList)) {
												personnel.areaList[personnel.roleList[t]['areaCode']] = {
													'areaName': personnel.roleList[t]['areaName']
												}
											}

											console.log(personnel.areaList, personnel.roleList[t]['areaCode'], personnel.roleList[t]['areaName'])

											if (!(personnel.roleList[t]['areaCode'] in personnel.dareaList)) {
												personnel.dareaList[personnel.roleList[t]['areaCode']] = {
													'areaName': personnel.roleList[t]['areaName'],
													'darea': {}
												}
											}

											if (!(personnel.roleList[t]['dareaCode'] in personnel.dareaList[personnel.roleList[t]['areaCode']][
													'darea'
												])) {
												personnel.dareaList[personnel.roleList[t]['areaCode']]['darea'][personnel.roleList[t]['dareaCode']] = {
													'dareaName': personnel.roleList[t]['dareaName'],
													'selectCar': personnel.roleList[t]['selectCar'] == 0 ? false : true,
													'selectPersonnel': personnel.roleList[t]['selectPersonnel'] == 0 ? false : true,
													'selectEquipment': personnel.roleList[t]['selectEquipment'] == 0 ? false : true
												}
											}

										}

										personnel.$set(personnel.areaList, personnel.areaList)
										personnel.$set(personnel.dareaList, personnel.dareaList)

										if ('area' in personnel.Request) {
											if (personnel.Request.area in personnel.areaList) {
												personnel.area = personnel.Request.area
												if ('darea' in personnel.Request) {
													if (personnel.Request.darea in personnel.dareaList[personnel.area].darea) {
														personnel.darea = personnel.Request.darea
														
														personnel.areaDialog = false
													} else {
														personnel.$alert('您没有管理该区域/场所的权限，或该区域/场所不存在', '错误', {
															confirmButtonText: '确定',
															type: 'error',
															center: true,
															callback: action => {}
														})
													}
												}
											} else {
												personnel.$alert('您没有管理该区域/场所的权限，或该区域/场所不存在', '错误', {
													confirmButtonText: '确定',
													type: 'error',
													center: true,
													callback: action => {}
												})
											}
										}
										else{
											personnel.areaDialog = true
										}

										console.log(personnel.dareaList)
									})
								}

							}
						}
					})
				}
			})
		</script>

		</div>

		<script type="text/javascript">
			var resetWindow = function() {
				$('#personnel').css({
					'min-height': $(window).height() - $('#head').height() - $('#foot').height()
				})

				if ($(window).width() <= 995) {
					personnel.tabPosition = 'top'
					$('#personnel').css({
						'margin': '0 10px',
						'margin-top': '5px'
					})
				} else {
					personnel.tabPosition = 'left'
					$('#personnel').css({
						'margin': '0 5px',
						'margin-top': '5px'
					})
				}
			}
			$(document).ready(function() {
				resetWindow()
				$(window).resize(function() {
					resetWindow()
				})
			})
		</script>

</html>
