<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

		<link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

		<script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

		<script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

		<script src="Assets/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">
			.text-danger {
				color: #F56C6C !important;
			}
		</style>

		<script type="text/javascript">
			//公用函数定义
			function sleep(fun, ms) {
				setTimeout(fun, ms);
			}

			function loop(fun, ms) {
				fun();
				setInterval(fun, ms);
			}

			addEventListener(
				"load",
				function() {
					setTimeout(hideURLbar, 0);
				},
				false
			);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	</head>

	<body class="body">

		<div id="dashboard">
			<el-row v-if="dashboardFlag">
				<el-col :sm="4" class="text-center">
					<img style="max-width: 120px;max-height: 50px;text-align: center;" src="Storage/global/Logo.png" alt="logo" class="img-fluid">
				</el-col>
				<el-col :sm="18">
					<el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
						<el-menu-item index="1">仪表盘</el-menu-item>
					</el-menu>
				</el-col>
				<el-col :md="2" :xs="24">
					<div style="padding-top: 10px; text-align: center;" class="mx-auto">
						<el-dropdown class="text-center">
							<span class="el-dropdown-link">
								{{role}}<br><span style="display: inline-block; width: 100%;">{{userName}}</span><i class="el-icon-arrow-down el-icon--right"></i>
							</span>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item><a href="index.html">个人中心</a></el-dropdown-item>
								<el-dropdown-item divided>
									<div @click="(x)=>{logout()}">退出登录</div>
								</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
					</div>
				</el-col>
			</el-row>


			<el-row>
				<el-col class="text-center border" :xs="24" :sm="24" :md="8">
					<div class="text-center">人员信息概览</div>
					<el-row>
						<el-col class="text-center border" :span="12">
							<el-select v-model="personnelArea" remote :remote-method="(v)=>{loadArea(v,'personnel')}" @change="(v)=>{loadArea(v,'personnel')}" filterable placeholder="请选择区域">
								<div v-for="(v,k) in areaList">
									<el-option v-for="(val,key) in v" :key="k" :label="val" :value="k">
									</el-option>
								</div>
							</el-select>
						</el-col>
						<el-col class="text-center border" :span="12">
							<el-select v-model="personnelDarea" remote :remote-method="(v)=>{loadDarea(v,'personnel')}" @change="(v)=>{loadDarea(v,'personnel');}"
							 filterable placeholder="请选择场所" :disabled="personnelArea.length == 0">
								<div v-if="(Object.keys(areaList).length != 0 && personnelArea.length != 0)">
									<el-option v-for="(v,k) in dareaList[personnelArea].darea" :key="k" :label="v.dareaName" :value="k" v-if="v.selectPersonnel">
									</el-option>
								</div>
							</el-select>
						</el-col>
					</el-row>
					<div id="personnel">

					</div>
				</el-col>
				<el-col class="text-center border" :xs="24" :sm="24" :md="8">
					<div class="text-center"> 设备信息概览</div>
					<el-row>
						<el-col class="text-center border" :span="12">
							<el-select v-model="equipmentArea" remote :remote-method="(v)=>{loadArea(v,'equipment')}"  @change="(v)=>{loadArea(v,'equipment')}" filterable placeholder="请选择区域">
								<div v-for="(v,k) in areaList">
									<el-option v-for="(val,key) in v" :key="k" :label="val" :value="k">
									</el-option>
								</div>
							</el-select>
						</el-col>
						<el-col class="text-center border" :span="12">
							<el-select v-model="equipmentDarea" remote :remote-method="(v)=>{loadDarea(v,'equipment')}" @change="(v)=>{loadDarea(v,'equipment')}" filterable
							 placeholder="请选择场所" :disabled="equipmentArea.length == 0">
								<div v-if="(Object.keys(areaList).length != 0 && equipmentArea.length != 0)">
									<el-option v-for="(v,k) in dareaList[equipmentArea].darea" :key="k" :label="v.dareaName" :value="k" v-if="v.selectEquipment">
									</el-option>
								</div>
							</el-select>
						</el-col>
					</el-row>
					<div id="equipment">

					</div>
				</el-col>
				<el-col class="text-center border" :xs="24" :sm="24" :md="8">
					<div class="text-center">车辆信息概览</div>
					<el-row>
						<el-col class="text-center border" :span="12">
							<el-select v-model="carArea" remote :remote-method="(v)=>{loadArea(v,'car')}" @change="(v)=>{loadArea(v,'car')}" filterable placeholder="请选择区域">
								<div v-for="(v,k) in areaList">
									<el-option v-for="(val,key) in v" :key="k" :label="val" :value="k">
									</el-option>
								</div>
							</el-select>
						</el-col>
						<el-col class="text-center border" :span="12">
							<el-select v-model="carDarea" remote :remote-method="(v)=>{loadDarea(v,'car')}" @change="(v)=>{loadDarea(v,'car')}"
							 filterable placeholder="请选择场所" :disabled="carArea.length == 0">
								<div v-if="(Object.keys(areaList).length != 0 && carArea.length != 0)">
									<el-option v-for="(v,k) in dareaList[carArea].darea" :key="k" :label="v.dareaName" :value="k" v-if="v.selectCar">
									</el-option>
								</div>
							</el-select>
						</el-col>
					</el-row>
					<div id="car">

					</div>
				</el-col>
			</el-row>
		</div>
		<script>
			let personnelEcharts = null
			let personnelEchartsInterVal = null
			
			let carEcharts = null
			let carEchartsInterVal = null
			
			var dashboard = new Vue({
				el: '#dashboard',
				watch: {
					personnelOption: {
						handler(n, o) {
							if (personnelEcharts) {
								personnelEcharts.clear()
								personnelEcharts.setOption(dashboard.personnelOption,true)
							}
						},
						deep: true
					},
					carOption: {
						handler(n, o) {
							if (carEcharts) {
								carEcharts.clear()
								carEcharts.setOption(dashboard.carOption,true)
							}
						},
						deep: true
					}
				},
				computed: {},
				beforeDestroy() {
					personnelEcharts.clear()
					carEcharts.clear()
				},
				mounted() {
					$this.$nextTick(() => {
						carEcharts = echarts.init($('#car')[0]);
						personnelEcharts = echarts.init($('#personnel')[0]);
					})
				},
				data() {
					return {
						dashboardFlag: false,
						activeIndex: '1',
						userName: '',
						role: "",
						permission: "",

						Tab: "仪表盘",

						data: [],
						userInfo: "",

						roleListPage: 1,
						roleListNum: 1000,

						roleList: [],

						// areaLoad = false

						equipmentArea: "",
						personnelArea: "",
						carArea: "",
						areaList: {},

						equipmentDarea: "",
						personnelDarea: "",
						carDarea: "",
						dareaList: {},


						getTimeData: 12,
						getTimeSleep: (1000 * 10),

						personnelOption: null,
						personnelData: {
							allNum: [],
							comeNum: [],
							outNum: [],
							time: []
						},
						
						carOption: null,
						carData: {
							allNum: [],
							comeNum: [],
							outNum: [],
							time: []
						},

					}
				},
				methods: {
					loadArea(v, filter) {
						if (dashboard.permission != '8') {
							return dashboard.areaList
						}

						if (v.length != 0) {
							dashboard.areaList = {}

							switch (filter) {
								case 'equipment':
									dashboard.equipmentDarea = ''
									break;
								case 'personnel':
									dashboard.personnelDarea = ''
									break;
								case 'car':
									dashboard.carDarea = ''
									break;
							}

							axios.post('./System/Core/Management.php', Qs.stringify({
								"getPlanList": '',
								"page": "1",
								"num": "9999999999999",
								"filter": JSON.stringify({
									"areaName": v,
								})
							}), ).then(function(res) {
								data = res.data.slice(1)
								for (t in data) {

									if (!(data[t]['area'] in dashboard.areaList)) {
										dashboard.areaList[data[t]['area']] = {
											'areaName': data[t]['areaName']
										}
									}

									// console.log(dashboard.areaList,dashboard.roleList[t]['areaCode'],dashboard.roleList[t]['areaName'])

									if (!(data[t]['area'] in dashboard.dareaList)) {
										dashboard.dareaList[data[t]['area']] = {
											'areaName': data[t]['areaName'],
											'darea': {}
										}
									}

									if (!(data[t]['darea'] in dashboard.dareaList[data[t]['area']]['darea'])) {
										dashboard.dareaList[data[t]['area']]['darea'][data[t]['darea']] = {
											'dareaName': data[t]['dareaName'],
											'selectCar': data[t]['selectCar'] = true,
											'selectPersonnel': data[t]['selectPersonnel'] = true,
											'selectEquipment': data[t]['selectEquipment'] = true
										}
									}

								}
								dashboard.$set(dashboard.areaList, dashboard.areaList)
								dashboard.$set(dashboard.dareaList, dashboard.dareaList)
							})
						}

					},
					loadDarea(v, filter) {
						switch (filter) {
							case 'equipment':
								break;
							case 'personnel':
								window.clearInterval(personnelEchartsInterVal)
								
								for (var t = dashboard.getTimeData ; t >= 0; t--) {
									time = [this.getSomeTime(-t-1), this.getSomeTime(-t)]
									personnelEcharts.setOption(dashboard.personnelOption)
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "1",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
										})
									}), ).then(function(res) {
										if(dashboard.personnelData.allNum.length > dashboard.getTimeData)
										{
											dashboard.personnelData.allNum.shift();
										}
										dashboard.personnelData.allNum.push(res.data[0])
									})

									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '0'
										})
									}), ).then(function(res) {
										if(dashboard.personnelData.comeNum.length > dashboard.getTimeData)
										{
											dashboard.personnelData.comeNum.shift();
										}
										dashboard.personnelData.comeNum.push(res.data[0])
									})

									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '1'
										})
									}), ).then(function(res) {
										if(dashboard.personnelData.outNum.length > dashboard.getTimeData)
										{
											dashboard.personnelData.outNum.shift();
										}
										dashboard.personnelData.outNum.push(res.data[0])
									})

									if(dashboard.personnelData.time.length > dashboard.getTimeData)
									{
										dashboard.personnelData.time.shift();
									}
									dashboard.personnelData.time.push(this.getSomeTime(-t).replace(' ', '\n'))

								}

								personnelEchartsInterVal = setInterval(function(){
									time = [dashboard.getTime(new Date().getTime() - dashboard.getTimeSleep),dashboard.getTime(new Date())]
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "1",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
										})
									}), ).then(function(res) {
										
										dashboard.personnelData.allNum.push(res.data[0])
									})
									
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '0'
										})
									}), ).then(function(res) {
										
										dashboard.personnelData.comeNum.push(res.data[0])
									})
									
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getPersonnelList": '',
										"area": dashboard.personnelArea,
										"darea": dashboard.personnelDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '1'
										})
									}), ).then(function(res) {
										
										dashboard.personnelData.outNum.push(res.data[0])
									})
									
									dashboard.personnelData.time.push(dashboard.getTime(new Date()).replace(' ', '\n'))
									
									if(dashboard.personnelData.time.length >= dashboard.getTimeData * 2)
									{
										dashboard.personnelData.allNum.shift();
										dashboard.personnelData.comeNum.shift();
										dashboard.personnelData.outNum.shift();
										dashboard.personnelData.time.shift();
									}
									// personnelEcharts.clear()
									// personnelEcharts.setOption(dashboard.personnelOption,true)
								},dashboard.getTimeSleep);

								window.addEventListener("resize", () => {
									personnelEcharts.resize();
								});

								break;
							case 'car':
								window.clearInterval(carEchartsInterVal)
								
								for (var t = dashboard.getTimeData ; t >= 0; t--) {
									time = [this.getSomeTime(-t-1), this.getSomeTime(-t)]
									carEcharts.setOption(dashboard.carOption)
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "1",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
										})
									}), ).then(function(res) {
										if(dashboard.carData.allNum.length > dashboard.getTimeData)
										{
											dashboard.carData.allNum.shift();
										}
										dashboard.carData.allNum.push(res.data[0])
									})
								
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '0'
										})
									}), ).then(function(res) {
										if(dashboard.carData.comeNum.length > dashboard.getTimeData)
										{
											dashboard.carData.comeNum.shift();
										}
										dashboard.carData.comeNum.push(res.data[0])
									})
								
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '1'
										})
									}), ).then(function(res) {
										if(dashboard.carData.outNum.length > dashboard.getTimeData)
										{
											dashboard.carData.outNum.shift();
										}
										dashboard.carData.outNum.push(res.data[0])
									})
								
									
								
									if(dashboard.carData.time.length > dashboard.getTimeData)
									{
										dashboard.carData.time.shift();
									}
									dashboard.carData.time.push(this.getSomeTime(-t).replace(' ', '\n'))
								
								}
								
								carEchartsInterVal = setInterval(function(){
									time = [dashboard.getTime(new Date().getTime() - dashboard.getTimeSleep),dashboard.getTime(new Date())]
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "1",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
										})
									}), ).then(function(res) {
										
										dashboard.carData.allNum.push(res.data[0])
									})
									
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '0'
										})
									}), ).then(function(res) {
										
										dashboard.carData.comeNum.push(res.data[0])
									})
									
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getCarList": '',
										"area": dashboard.carArea,
										"darea": dashboard.carDarea,
										"page": "1",
										"num": "0",
										"filter": JSON.stringify({
											"betweenTime": JSON.stringify(time),
											"status": '1'
										})
									}), ).then(function(res) {
										
										dashboard.carData.outNum.push(res.data[0])
									})
									
									dashboard.carData.time.push(dashboard.getTime(new Date()).replace(' ', '\n'))
									
									if(dashboard.carData.time.length >= dashboard.getTimeData * 2)
									{
										dashboard.carData.allNum.shift();
										dashboard.carData.comeNum.shift();
										dashboard.carData.outNum.shift();
										dashboard.carData.time.shift();
									}

								},dashboard.getTimeSleep);
								
								window.addEventListener("resize", () => {
									carEcharts.resize();
								});
								break;
						}

						if (dashboard.permission != '8') {
							return dashboard.dareaList
						}
					},
					getSomeTime(n) {
						return dashboard.getTime(Date.parse(dashboard.getTime(Math.ceil((new Date().getTime() / 100000) * 100000)).split(
								':')[0] +
							':' +
							(parseInt(dashboard.getTime(Math.ceil(new Date().getTime() / 100000) * 100000).split(':')[1]) - parseInt(
								dashboard.getTime(Math.ceil(new Date().getTime() / 100000) * 100000).split(':')[1]) % 5)) + 60 * 1000 * (5 *
							n))
					},
					getTime(unixTime) {
						unixTime = new Date(unixTime)
						Y = unixTime.getFullYear()
						M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
						D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
						H = unixTime.getHours() < 10 ? '0' + unixTime.getHours() : unixTime.getHours()
						i = unixTime.getMinutes() < 10 ? '0' + unixTime.getMinutes() : unixTime.getMinutes()
						S = unixTime.getSeconds() < 10 ? '0' + unixTime.getSeconds() : unixTime.getSeconds()
						return Y + '-' + M + '-' + D + ' ' + H + ':' + i + ':' + S
					},
					handleSelect(key, keyPath) {
						console.log(key, keyPath);
					},
					logout() {
						axios.post('./System/Core/User.php', Qs.stringify({
							"logout": '',
						}), ).then(function(res) {
							for (x in res.data) {
								if ('success' === x) {
									console.log(res.data['success'])
									dashboard.$alert(res.data['success'], '操作成功', {
										confirmButtonText: '确定',
										type: 'success',
										center: true,
										callback: action => {
											window.location = 'login.html'
										}
									})
								}
							}
						})
					},
				},
				mounted() {
					axios.post('./System/Core/User.php', Qs.stringify({
						"getUserInfo": '',
					}), ).then(function(res) {
						for (x in res.data) {
							if ('error' === x) {
								dashboard.$alert(res.data[x], '错误', {
									confirmButtonText: '确定',
									type: 'error',
									center: true,
									callback: action => {
										window.location = 'login.html'
									}
								})
							} else {
								dashboard.userName = res.data[x]['userName']
								dashboard.userInfo = res.data[x]
								dashboard.permission = res.data[x]['permission']

								if (dashboard.permission == '8') {
									dashboard.role = '超级管理员'
								} else if (dashboard.permission == '1') {
									dashboard.role = '管理员'
								} else {
									dashboard.role = '普通用户'
								}

								dashboard.dashboardFlag = true

								if (dashboard.permission != '8') {
									axios.post('./System/Core/Management.php', Qs.stringify({
										"getRoleList": '',
									}), ).then(function(res) {
										if (res.data[0] == 0) {
											dashboard.$alert('您没有访问面板的权限，如需访问请联系超级管理员添加相应权限', '错误', {
												confirmButtonText: '退出登录',
												type: 'error',
												center: true,
												callback: action => {
													dashboard.logout()
												}
											})
										}
										dashboard.roleList = res.data.slice(1)
										for (t in dashboard.roleList) {
											// console.log(dashboard.roleList[t]['areaCode'])

											if (!(dashboard.roleList[t]['areaCode'] in dashboard.areaList)) {
												dashboard.areaList[dashboard.roleList[t]['areaCode']] = {
													'areaName': dashboard.roleList[t]['areaName']
												}
											}

											// console.log(dashboard.areaList,dashboard.roleList[t]['areaCode'],dashboard.roleList[t]['areaName'])

											if (!(dashboard.roleList[t]['areaCode'] in dashboard.dareaList)) {
												dashboard.dareaList[dashboard.roleList[t]['areaCode']] = {
													'areaName': dashboard.roleList[t]['areaName'],
													'darea': {}
												}
											}

											if (!(dashboard.roleList[t]['dareaCode'] in dashboard.dareaList[dashboard.roleList[t]['areaCode']][
													'darea'
												])) {
												dashboard.dareaList[dashboard.roleList[t]['areaCode']]['darea'][dashboard.roleList[t]['dareaCode']] = {
													'dareaName': dashboard.roleList[t]['dareaName'],
													'selectCar': dashboard.roleList[t]['selectCar'] == 0 ? false : true,
													'selectPersonnel': dashboard.roleList[t]['selectPersonnel'] == 0 ? false : true,
													'selectEquipment': dashboard.roleList[t]['selectEquipment'] == 0 ? false : true
												}
											}

										}

										dashboard.$set(dashboard.areaList, dashboard.areaList)
										dashboard.$set(dashboard.dareaList, dashboard.dareaList)

										console.log(dashboard.dareaList)
									})

								}


								$('#personnel').height(300)
								dashboard.personnelOption = {
									title: {
										text: '人员信息',
										left: 'center',
										top: 10,
										textStyle: {
											fontSize: 18,
										},
									},
									tooltip: {
										trigger: 'axis'
									},
									legend: {
										top: 15 + 18,
										left: 'center',
										data: ['总数量', '出', '入']
									},
									xAxis: {
										boundaryGap: false,
										data: dashboard.personnelData.time,
									},
									yAxis: {
										type: 'value',
									},
									series: [{
										name: '总数量',
										type: 'line',
										data: dashboard.personnelData.allNum,
										color: 'rgba(23, 255, 243,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(23, 255, 243, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(23, 255, 243, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}, {
										name: '出',
										type: 'line',
										data: dashboard.personnelData.outNum,
										color: 'rgba(144,238,144,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(144,238,144, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(144,238,144, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}, {
										name: '入',
										type: 'line',
										data: dashboard.personnelData.comeNum,
										color: 'rgba(255,100,97,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(255,100,97, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(255,100,97, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}]
								};
								personnelEcharts = echarts.init($('#personnel')[0]);
								
								$('#equipment').height(300)
								
								$('#car').height(300)
								dashboard.carOption = {
									title: {
										text: '车辆信息',
										left: 'center',
										top: 10,
										textStyle: {
											fontSize: 18,
										},
									},
									tooltip: {
										trigger: 'axis'
									},
									legend: {
										top: 15 + 18,
										left: 'center',
										data: ['总数量', '出', '入']
									},
									xAxis: {
										boundaryGap: false,
										data: dashboard.carData.time,
									},
									yAxis: {
										type: 'value',
									},
									series: [{
										name: '总数量',
										type: 'line',
										data: dashboard.carData.allNum,
										color: 'rgba(23, 255, 243,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(23, 255, 243, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(23, 255, 243, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}, {
										name: '出',
										type: 'line',
										data: dashboard.carData.outNum,
										color: 'rgba(144,238,144,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(144,238,144, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(144,238,144, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}, {
										name: '入',
										type: 'line',
										data: dashboard.carData.comeNum,
										color: 'rgba(255,100,97,1)',
										smooth: true,
										symbolSize: 8,
										areaStyle: {
											normal: {
												color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
													offset: 0,
													color: 'rgba(255,100,97, 0.3)'
												}, {
													offset: 0.8,
													color: 'rgba(255,100,97, 0)'
												}], false),
												shadowColor: 'rgba(0, 0, 0, 0.1)',
												shadowBlur: 10
											}
										},
									}]
								};
								carEcharts = echarts.init($('#car')[0]);
								
								
								dashboard.$set(dashboard.personnelOption, dashboard.personnelOption)
								dashboard.$set(dashboard.carOption, dashboard.carOption)
								
								console.log(dashboard.personnelOption)



							}
						}
					})

				}
			})
		</script>

		</div>

		<script type="text/javascript">
			var resetWindow = function() {
				$('#dashboard').css({
					'min-height': $(window).height() - $('#head').height() - $('#foot').height()
				})

				if ($(window).width() <= 995) {
					dashboard.tabPosition = 'top'
					$('#dashboard').css({
						'margin': '0 10px',
						'margin-top': '5px'
					})
				} else {
					dashboard.tabPosition = 'left'
					$('#dashboard').css({
						'margin': '0 5px',
						'margin-top': '5px'
					})
				}
			}
			$(document).ready(function() {
				resetWindow()
				$(window).resize(function() {
					resetWindow()
				})
			})
		</script>

</html>
